$width-100: 100%;
$width-50: 50%;
$height-100: 100%;
$height-50: 50%;

$color-white:#ffffff;
$color-purple:#a881af;

$measures:(
    "width-100": 100%,
    "width-50": 50%,
    "height-100": 100%,
    "height-50": 50%
);

$colors:(
    "color-white":#ffffff,
    "color-purple":#a881af
);