// faq




.faq-inicio-img {
    display: grid;
    /* grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); */
    grid-template-columns: repeat(auto-fit, minmax(1fr));
  
    .inicio--main-img {
      width: map-get($measures,width-100);
      height: map-get($measures,height-100);

      img {
        width: 70%;
        /* height: 70%; */
        height: 80%;
        display: flex;
        margin: 0 auto;
        margin-top: 1.5rem;
        border-radius: 30px;
      }
    }

  .inicio--main-img , .h1--dentro-img {
    display: flex;
    flex-direction: column;
  }
  

  .h1--dentro-img {
    text-align: center;
    margin-top: 20px;
    
    .list {
      margin-top: 20px;
      ol {
        padding-left: 0rem;
        margin-top: 30px;

          a {
            text-decoration: none;
          }
    }};
}};
  
.answer-area {
    margin-left: 60px;
    margin-right: 60px; 
    padding-bottom: 10rem;

    .answer-area--article {
    margin-top: 20px;
    border: solid;
    border-color: #16183d;
    border-radius: 30px;
    
    h2{
      margin-top: 10px;
      text-align: center;
    }
    
    p{
      text-align: center;
    }

  }
}
  

  
  .faq-inicio-img inicio--main-img{
    grid-area: imagen-inicio-faq;
  }
  
  .faq-inicio-img h1--dentro-img{
    grid-area: preguntas;
  }

  .answer-area {
    grid-area: respuesta;
  }
  
  .wrapper-pregs {
    display: grid;
    grid-template-areas: 
    "nav"
    "imagen-inicio-faq"
    "preguntas"
    "respuesta"
    "footer";
  }
  
  @media (min-width:900px) {
    .faq-inicio-img { 
        grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)) 
    }
    .answer-area {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        margin-right: 60px;
    }
    .h1--dentro-img {
        padding-top: 4rem;
    }
  }
  
  @media (min-width:768px) {
    .inicio--main-img { 
        padding-top: 4rem;
    }
  }

  @media (min-width:500px) {
    .inicio--main-img { 
        padding-top: 3rem;
    }
  }