
body {
    position: relative;
    width: $width-100;
  }
  
  
  * {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  
  
  .inicio-img {
    position: relative;
    display: inline-block;
    text-align: center;
    height: 35%;
    width: $width-100;
  }
  
  .inicio-img .main-img {
    background-image: image();
    width: $width-100;
    height: $height-100;
  }
  
  
  .H1-dentro-img {
    color: $color-white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .H1-dentro-img h1 {
    font-size: 2rem;
  } 
  
  .initial-vid {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .initial-vid iframe{
    width: 70%;
    height: 100%;
  }
  
  
  .h2-parrafo {
    padding: 20px;
    margin: 20px;
    border-style: solid;
    border-radius: 50px;
  }
  
  .initial__h2 , .initial__p{
    text-align: center;
  }
  
  .faq {
    margin-top: 340px;
  }
  .prod {
    margin-top: 360px;
  }
  
  
  
  .h3-parrafo {
    background-color: $color-purple;
  }
  
  .card {
    margin-top: 1rem;
    transform: skewX(-5deg);
    color: #B3CBC3;
  }
  
  @media (min-width:1200px){
    section .container {
      width: 70%;
      transform: rotateX(20deg);
    }
    
  }
  
  
  @media (min-width:500px){
    .h2-parrafo {
      margin-right: 5rem;
      margin-left: 5rem;
    }
    .H1-dentro-img h1 {
      font-size: 3rem;
    }
    .initial-vid iframe {
      width: 50%;
      height: 100%;
    }
    .initial-vid {
      height: 15rem;
    }
  }
  
  @media (min-width:760px){
    .logo-div {
      width: 15%;
    }
    
  }
  
  @media (min-width:900px){
    
    .inicio-img {
        margin-top: none;
    }
    
  }
  
  nav {
    grid-area: nav;
  }
  
  .inicio-img {
    grid-area: imagen-inicio;
  }
  
  .h2-parrafo {
    grid-area: ventajas;
  }
  
  .initial-vid {
    grid-area: video-final;
  }
  
  footer {
    grid-area: footer;
  }
  
  