.width-extend {
    width: map-get($measures, width-100);
}

.height-extend {
    height: map-get($measures, height-100);
}


.main-img-nos {
    width: 100%;
    position: relative;
      img {
        @extend .height-extend;
        @extend .width-extend;
    }

    .h1-dentro-img {
      color: rgb(0, 0, 0);
      position: absolute;
      top: 67%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  
  
  
  .historia--p {
    padding-bottom: 3rem;

    h2, p{
     text-align: center;
   }
  }
  
  .mission--p h2, p{
    text-align: center;
  }
  
  
  .main-img-nos{
    grid-area: imagen-inicio-nos;
  }
  
  .main-sec-nos{
    grid-area: section-nos;
  }
  
  
  .wrapper {
    display: grid;
    grid-template-areas: 
    "nav"
    "imagen-inicio-nos"
    "section-nos"
    "footer";
  }
  
  @media (min-width:768px) {
    .h1-dentro-img h1 {
        font-weight: bolder;
    }
    .h1-dentro-img {
        top: 65%;
    }
  }
  